---
import { getCollection } from "astro:content";
import { Card } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import ProjectList from "@components/projects/ProjectList.astro";

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection("projects").then((posts) =>
  posts.reverse().slice(0, count ?? 3)
);
---

<section>
  <Card>
    <div class="flex justify-between items-start">
      <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
        Featured Projects
      </h2>
      <div class="hidden md:block">
        <Button href="/projects/">Go to projects &rarr;</Button>
      </div>
      <div class="block md:hidden">
        <Button href="/projects/">to projects</Button>
      </div>
    </div>
    <ProjectList posts={posts} />
  </Card>
</section>
